<%- include("./layouts/main"); -%>
<%- include("./layouts/header"); -%>
<%- include('./layouts/carticon'); -%>
	


	<!-- breadcrumb -->
	<div class="container" style="margin-top: 80px;">
		<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
			<a href="/" class="stext-109 cl8 hov-cl1 trans-04">
				Home
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<span class="stext-109 cl4">
				Shoping Cart
			</span>
		</div>
	</div>
		

	<!-- Shoping Cart -->
	<form class="bg0 p-t-75 p-b-85">
		<div class="container">
			<div class="row">
				
				<div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
					<div class="m-l-25 m-r--38 m-lr-0-xl">
						
						<div class="wrap-table-shopping-cart">
							<table class="table-shopping-cart">
								<tr class="table_head">
									<th class="column-1">Product</th>
									<th class="column-2"></th>
									<th class="column-3">Price</th>
									<th class="column-4">Quantity</th>
									<th class="column-5">Total</th>
								</tr>
								<% cart.forEach((item)=>{  %>
									<tr class="table_row">
										<td class="column-1">
											<div class="how-itemcart1">
												<img src="/uploads/<%= item.productId.Images[0] %>" alt="IMG">
											</div>
										</td>
										<td class="column-2"><%= item.productId.Name %></td>
										<td class="column-3"><%= item.productId.Price %></td>
										<td class="column-4">
											<div class="wrap-num-product flex-w m-l-auto m-r-0">
												<div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
													<button class="fs-16 zmdi zmdi-minus" onclick="minus('234', '234', '2345')">
													</button>
													

												</div>
									
												<input class="mtext-104 cl3 txt-center num-product" type="number" name="num-product1" value="<%= item.quantity %>">
									
												<div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
													<i class="fs-16 zmdi zmdi-plus"></i>
												</div>
											</div>
										</td>
										<td class="column-5" id="subTotal-<%= item.productId %>"><%= item.subTotal %></td>
										

										<td class="column-6" style="padding-right: 20px;">
											<a href="/coupon"  class="text-success" style="font-weight: 900; font-size: 1.2rem;">
												Offers
											</a>
										</td>
									
										<td class="column-7">
											<button class="btn text-dark p-0 m-0 border-0 bg-transparent" onclick="removeFromCart('<%= item._id %>')" style="font-size: 0.9rem;">
												Remove
											</button>
										</td>
									</tr>
									
								<% }) %>

								
							</table>
						</div>
						

						<div class="flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-40 p-lr-15-sm">
							<div class="flex-w flex-m m-r-20 m-tb-5">
								<input class="stext-104 cl2 plh4 size-117 bor13 p-lr-20 m-r-10 m-tb-5" type="text" name="coupon" placeholder="Coupon Code">
									
								<div class="flex-c-m stext-101 cl2 size-118 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-5">
									Apply coupon
								</div>
							</div>

							<div class="flex-c-m stext-101 cl2 size-119 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-10">
								Update Cart
							</div>
						</div>
					</div>
				</div>
				

				<div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50">
	
					<div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
						<h4 class="mtext-109 cl2 p-b-30">
							Cart Totals
						</h4>

						<div class="flex-w flex-t bor12 p-b-13">
							<div class="size-208">
								<span class="stext-110 cl2">
									Subtotal:
								</span>
							</div>


						</div>

						
						<div class="flex-w flex-t p-t-27 p-b-33">
							<div class="size-208">
								<span class="mtext-101 cl2">
									Total:
								</span>
							</div>

							<div class="size-209 p-t-1">
								<% let subTotal=0; %>
								<%cart.forEach((item)=>{ %>
									<% subTotal+=item.subTotal %>


								<% }) %>
								<span class="mtext-110 cl2">
									<%= subTotal %>
								
								</span>

							</div>
						</div>

						<button class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
							Proceed to Checkout
						</button>
					</div>

				</div>
			</div>
		</div>
	</form>
		
	
		

<%- include("./layouts/footer"); -%>


	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>

<!--===============================================================================================-->	
	<script src="/user/vendor/jquery/jquery-3.2.1.min.js"></script>
	<script>

			$(document).ready(function() {

				function minus(price,subTotal,productId){

					console.log('the aisfadopjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj')

					$.ajax({
						url: `/cart/update/${productId}/${price}/${subTotal}`,
						method:"post",
						success:function(response){
								let remainingSubTotal=response.remainingSubTotal;
								$('#subTotal-'+productId).html(remainingSubTotal);


						},
						error: function(error) {
						console.error('Error updating quantity:', error);
						}

					})
				}
			});
	</script>


<!--===============================================================================================-->
	<script src="/user/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="/user/vendor/bootstrap/js/popper.js"></script>
	<script src="/user/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/user/vendor/select2/select2.min.js"></script>
	<script>


		
	</script>

	<script>
		function removeFromCart(cartId){
			$.ajax({
				url:"/cart/remove/"+cartId,
				type:'DELETE',
				success:function(response){
					location.reload();
				},
				error: function(error) {
            		console.error('Error removing item from cart:', error);
        		}
    		});
		}
	</script>

	
<!--===============================================================================================-->
	<script src="/user/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
<!--===============================================================================================-->
	<script src="/user/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script>
		$('.js-pscroll').each(function(){
			$(this).css('position','relative');
			$(this).css('overflow','hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function(){
				ps.update();
			})
		});
	</script>
<!--===============================================================================================-->
	<script src="/user/js/main.js"></script>

</body>
</html>