<%- include("./layouts/main"); -%>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<%- include("./layouts/header"); -%>
<%- include("./layouts/carticon"); -%>
<%- include('./layouts/wallet'); -%>






	<!-- breadcrumb -->
	<div class="container" style="margin-top: 80px;">
		<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
			<a href="/" class="stext-109 cl8 hov-cl1 trans-04">
				Home
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<span class="stext-109 cl4">
				Wishlist
			</span>
		</div>
	</div>
		

	<!-- Shoping Cart -->
	<form class="bg0 p-t-75 p-b-85">
		<div class="container">
			<div class="row">
				
				<div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
					<div class="m-l-25 m-r--38 m-lr-0-xl">
						
						<div class="wrap-table-shopping-cart">
							<table class="table-shopping-cart">
								<tr class="table_head">
									<th class="column-1">Product</th>
									<th class="column-2"></th>
									<th class="column-3">Price</th>
									<th class="column-4">Quantity</th>
									<th class="column-5">Total</th>
								</tr>
								<% if (wishList && wishList.products && Array.isArray(wishList.products)) { %>
									<% wishList.products.forEach((product) => { %> <!-- Correct variable name -->
										<tr class="table_row" >
											<td class="column-1">
												<div class="how-itemcart1">
													<img src="/uploads/<%= product.item.Images[0] %>" alt="IMG"> <!-- Corrected from prodcut to product -->
												</div>
											</td>
											<td class="column-2"><%= product.item.Name %></td> <!-- Corrected from prodcut to product -->
											<td class="column-3"><%= product.item.Price %></td> <!-- Corrected from prodcut to product -->
											<td class="column-4">
												<div class="wrap-num-product flex-w m-l-auto m-r-0">
													<div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
														<i class="fs-16 zmdi zmdi-minus"></i>
													</div>
								
													<input class="mtext-104 cl3 txt-center num-product" type="number" name="num-product1" value="1">
								
													<div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
														<i class="fs-16 zmdi zmdi-plus"></i>
													</div>
												</div>
											</td>
											<td class="column-5"><%= product.item.Price %></td> <!-- Corrected from prodcut to product -->
											<td class="column-6 text-center d-flex mt-5">
												<button  type="submit"  class="text-success mb-1" onclick="addToCart('<%= product.item._id %>')" style="font-weight: 300; font-size: 0.9rem;">
													<i class="fas fa-cart-plus"></i> <!-- Add to cart icon -->
												</button>
											</td>
											<td class="column-7 text-center d-flex">
												<button class="btn text-dark p-0 m-0 border-0 bg-transparent" onclick="removeFromWishList('<%= product.item._id %>')" style="font-size: 0.9rem;"> <!-- Corrected from prodcut to product -->
													<i class="fas fa-trash"></i> <!-- Delete icon -->
												</button>
											</td>
										</tr>
									<% }) %>
								<% } else { %>
									<p>No items added in WishList</p>
								<% } %>
								
								
							</table>
						</div>
						

					</div>
				</div>
				

			</div>
		</div>
	</form>
		
	
		

<%- include("./layouts/footer"); -%>


	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>

<!--===============================================================================================-->	
	<script src="/user/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/user/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="/user/vendor/bootstrap/js/popper.js"></script>
	<script src="/user/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/user/vendor/select2/select2.min.js"></script>
	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
	</script>

<script>


function addToCart(productId) {
    
    $.ajax({
        url:`/cart?productId=${productId}`,
        method: 'POST',
        success: function(response) {
            console.log('Item added to cart successfully:', response)
            $.ajax({
                url: `/removeWishList/${productId}`,
                method: 'DELETE',
                success: function(response) {
                    console.log('Item removed from wishlist successfully:', response);
                    $(`#wishlist-item-${productId}`).remove(); 
                },
                error: function(error) {
                    console.log('Item removal from wishlist unsuccessful:', error);
                }
            });
        },
        error: function(error) {
            console.log('Item added to cart unsuccessfully:', error);
        }
    });
}


</script>

	<script>
		

		function removeFromWishList(productId){
			$.ajax({
				url:`removeWishList/${productId}`,
				method:'DELETE',
				success:function(response){
					console.log('Item removed successfully:', response);

					$(`#wishlist-item-${productId}`).remove();

				},
				error:function(error){
				console.log('Item removed unsuccessfully:', error);

					
				}
			})
		}

	</script>
<!--===============================================================================================-->
	<script src="/user/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
<!--===============================================================================================-->
	<script src="/user/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script>
		$('.js-pscroll').each(function(){
			$(this).css('position','relative');
			$(this).css('overflow','hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function(){
				ps.update();
			})
		});
	</script>
<!--===============================================================================================-->
	<script src="/user/js/main.js"></script>

</body>
</html>